<article class="row-fluid">
    <section class="list">
        <div class="legend row-fluid">
            <strong class="span3">Computer Name</strong>
            <span class="span2">Free</span>
            <span class="span2">Used</span>
            <span class="span2">Total</span>
            <span class="span3 alignRight">Updated</span>
        </div>
        <div class="items">
            <% if (models.length) { %>
                <span class="span3"><%= models[0].computer_name %></span>
                <% _.each(models, function (model) { %>
                    <div class="item">
                        <% if (model.get('stats').length) { %>
                            <% _.each(model.stats, function (mem) { %>
                                <span class="span2"><%= mem.get('free') + ' (' + mem.get('free_percent') + '%)' %></span>
                                <span class="span2"><%= helpers.getDriveSize(mem.get('used')) + ' (' + mem.get('used_percent') + '%)' %></span>
                                <span class="span3 alignRight"><%= mem.get('last_updated') %></span>
                            <% }); %>
                        <% } %>
                    </div>
                <% }); %>
            <% } else { %>
                <div class="item">No data available</div>
            <% } %>
        </div>
    </section>
</article>
