<article class="row-fluid">
    <section class="list">
        <div class="legend row-fluid">
            <strong class="span4">Computer Name</strong>
            <span class="span4">Network Name</span>
            <span class="span2">MAC</span>
            <span class="span2 alignRight">IP Address</span>
        </div>
        <div class="items">
            <% if (models.length) { %>
                <% _.each(models, function (model) { %>
                    <div class="item">
                        <span class="span4"><%= model.get('computer_name') %></span>
                        <span class="span4"><%= model.get('name') %></span>
                        <span class="span2"><%= model.get('mac') %></span>
                        <span class="span2 alignRight"><%= model.get('ip_address') %></span>
                    </div>
                <% }); %>
            <% } else { %>
                <div class="item">No data available</div>
            <% } %>
        </div>
    </section>
</article>
